@import "tailwindcss";

:root {
  --havia-gold: #c69c3d;
  --havia-charcoal: #2c2a29;
  --havia-cream: #f4ebd4;
  --havia-offwhite: #f2f1f0;
  --havia-white: #ffffff;
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-in-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes client-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceSlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes client-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-client-scroll {
  animation: client-scroll 60s linear infinite;
  width: fit-content;
}
.animate-client-scroll:hover {
  animation-play-state: paused;
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 15s linear infinite;
}
.animate-bounce-slow {
  animation: bounceSlow 2.5s infinite ease-in-out;
}

@media (max-width: 768px) {
  .animate-client-scroll {
    animation: client-scroll 60s linear infinite;
  }
}

@layer utilities {
  .bg-havia-gold {
    background-color: var(--havia-gold);
  }
  .bg-havia-charcoal {
    background-color: var(--havia-charcoal);
  }
  .bg-havia-cream {
    background-color: var(--havia-cream);
  }
  .bg-havia-offwhite {
    background-color: var(--havia-offwhite);
  }
  .bg-havia-white {
    background-color: var(--havia-white);
  }

  .text-havia-gold {
    color: var(--havia-gold);
  }
  .text-havia-charcoal {
    color: var(--havia-charcoal);
  }
  .text-havia-white {
    color: var(--havia-white);
  }

  .border-havia-gold {
    border-color: var(--havia-gold);
  }
  .border-havia-charcoal {
    border-color: var(--havia-charcoal);
  }
}

body {
  overflow-x: hidden;
  background-color: var(--havia-offwhite);
  color: var(--havia-charcoal);
  font-family: "Work Sans", sans-serif, Helvetica, "Open Sans";
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
